.overlay[b-m24dmccxw0] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;   
}

.overlay h3[b-m24dmccxw0] {
    margin-bottom: 10px;
}

.overlay .btn[b-m24dmccxw0] {
    display: inline-block;
    width: 146px;
    height: 46px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border-style: solid;
    border-color: white;
    border-radius: 16px;
}

.text-container[b-m24dmccxw0] {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    font-size: large;
}

.container[b-m24dmccxw0] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 100%;
}

.container > div[b-m24dmccxw0] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.container > div > img[b-m24dmccxw0] {
    width: 240px;
    height: 140px;
}