h1[b-2b8l8ze2hv] {
    margin-bottom: 0.67em;
}

p[b-2b8l8ze2hv] {
   margin: 1em 0; 
}

a[b-2b8l8ze2hv] {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

h2[b-2b8l8ze2hv] {
    margin: 0.83em 0;
}

h3[b-2b8l8ze2hv] {
    margin: 1em 0;
}

ul[b-2b8l8ze2hv] {
    list-style: disc;
    margin: 1em 0;
    padding-left: 40px;
}