@page "/about-us"
@rendermode InteractiveServer

<PageTitle>About us</PageTitle>

<div class="gallery">
    <div class="image-container active">
        <img src="images/electronics.png" alt="Electronics">
    </div>
</div>
<div class="main-container">
    <h1 id="about-us">About us</h1>
    <div class="row">
        <div class="user">
            <img src="../images/user.png" alt="User">
            <p id="about-page-content-first-row" class="name">маг. инж. Атанас Велков – PLC- Програмиране, Електроника
            </p>
            <p id="about-page-content-second-row" class="description">Lorem ipsum dolor sit, amet consectetur
                adipisicing elit.</p>
        </div>
        <div class="user">
            <img src="../images/user.png" alt="">
            <p id="about-page-content-third-row" class="name">доц. Ренета Димитрова - Консултант</p>
            <p id="about-page-content-fourth-row" class="description">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Similique error veniam totam a quibusdam cupiditate modi perspiciatis nam illum, et asperiores
                eveniet laborum ullam. Incidunt ad sed debitis eius facere.</p>
        </div>
        <div class="user">
            <img src="../images/user.png" alt="">
            <p id="about-page-content-fifth-row" class="name">маг. инж. Васил Стоименов – Конструктор</p>
            <p id="about-page-content-sixth-row" class="description">Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Veritatis sed dolorum deserunt culpa nobis error, pariatur, iure soluta ullam saepe sint, alias
                veniam iusto illum mollitia eveniet vitae! Dicta, fugiat.</p>
        </div>
    </div>
    <div class="row">
        <div class="user">
            <img src="../images/user.png" alt="">
            <p id="about-page-content-seventh-row" class="name">маг. инж. Мартин Христов – Конструктор</p>
            <p id="about-page-content-eighth-row" class="description">Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Quisquam adipisci, quo mollitia expedita nostrum nesciunt a libero veniam ea
                voluptatibus possimus dolores fuga. Tempore fugit autem rerum libero tempora ut!</p>
        </div>
        <div class="user">
            <img src="../images/user.png" alt="">
            <p id="about-page-content-ninth-row" class="name">псих. Мария Йованова Велков – Административни услуги</p>
            <p id="about-page-content-tenth-row" class="description">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Totam, obcaecati repellat consequatur consectetur quis, voluptatum nulla iusto dignissimos
                architecto beatae similique perspiciatis accusamus nostrum ratione.</p>
        </div>
    </div>
</div>