h1 {
    margin-bottom: 0.67em;
}

p {
   margin: 1em 0; 
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

h2 {
    margin: 0.83em 0;
}

h3 {
    margin: 1em 0;
}

ul {
    list-style: disc;
    margin: 1em 0;
    padding-left: 40px;
}