@page "/references"
@rendermode InteractiveServer

<PageTitle>References</PageTitle>

<div class="gallery">
    <div class="image-container active">
        <img src="images/electronics.png" alt="Electronics">
    </div>
</div>
<div class="text-content">
    <h1 id="references">References</h1>
    <h1 id="ref-page-content-first-row">Prior to founding, valuable experience was gained in the following companies:
    </h1>
    <ul>
        <li id="ref-page-content-second-row">Technical University Sofia - <a href="https://tu-sofia.bg/" target="_blank"
                rel="noopener noreferrer">https://tu-sofia.bg/</a></li>
        <li id="ref-page-content-third-row">Stomana industry s.a. - <a href="https://stomana.com/" target="_blank"
                rel="noopener noreferrer">https://stomana.com/</a></li>
        <li id="ref-page-content-fourth-row">Ber-Hella Thermocontrol Ltd - <a
                href="https://www.bhtc.com/en/locations/sofia-bozhuriste-bulgari" target="_blank"
                rel="noopener noreferrer">https://www.bhtc.com/en/locations/sofia-bozhuriste-bulgari</a></li>
        <li id="ref-page-content-fifth-row">Scholl Energie- und Steuerungstechnik GmbH - <a
                href="https://www.schollgroup.de/" target="_blank"
                rel="noopener noreferrer">https://www.schollgroup.de/</a></li>
        <li id="ref-page-content-sixth-row">Reichle & De-Massari - <a href="https://www.rdm.com/" target="_blank"
                rel="noopener noreferrer">https://www.rdm.com/</a></li>
        <li id="ref-page-content-seventh-row">FoxLaser - <a href="https://foxlaser.com/" target="_blank"
                rel="noopener noreferrer">https://foxlaser.com/</a></li>
    </ul>
</div>