@page "/services"
@rendermode InteractiveServer

<PageTitle>Services</PageTitle>

<div class="gallery">
    <div class="image-container active">
        <img src="images/electronics.png" alt="Electronics">
    </div>
</div>
<div class="text-container">
    <h1 id="services">Services</h1>
    <p id="services-page-content-first-row"><strong id="services-page-content-first-row-bold">Trust our</strong>
        services that we offer, we guarantee you quality, economy and time saving. Flexibility in turning your ideas
        into real working projects as well as being available for your additions that you need to your already working
        technological processes.</p>
</div>
<div class="services">
    <div class="row">
        <div>
            <h2 id="electronics">Electronics</h2>
            <img src="images/electronics.png" alt="Electronics">
        </div>
        <div>
            <h2 id="software">Software</h2>
            <img src="images/software.png" alt="Software">
        </div>
        <div>
            <h2 id="construction">Construction</h2>
            <img src="images/construction.png" alt="Construction">
        </div>
    </div>
    <div class="row">
        <div>
            <h2 id="project-management">Project management</h2>
            <img src="images/software.png" alt="Project management">
        </div>
        <div>
            <h2 id="tehnologies">Tehnologies</h2>
            <img src="images/construction.png" alt="Tehnologies">
        </div>
    </div>
</div>